.navbar{
    min-width: 1600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #95d732;
    padding-right: 30px;
    padding-left: 10px;

}
.logonav{
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
   
}